@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import "reset.css";
@import "status-bar.css";

body {
  font-family: "Jua", sans-serif;
}

.welcome-header {
  margin: 90px;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 30px;
}

.welcome-header__text {
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 10%;
}

#login-form input {
  border: none;
  padding: 25px 0px;
  font-family: "Jua", sans-serif;
  font-size: 18px;
}

#login-form input:nth-child(-n + 2) {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  transition: border-bottom 0.3s ease-in;
}

#login-form input:focus:nth-child(-n + 2) {
  border-bottom: 2px solid rgb(181, 145, 231);
}

#login-form input:nth-child(2) {
  margin-bottom: 40px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input[type="submit"] {
  background-color: rgba(218, 204, 237, 0.5);
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
}

#login-form input[type="submit"]:hover {
  background-color: rgba(55, 25, 97, 0.5);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
