@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

@import "reset.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";

/* Screens */
@import "screens/login.css";

body {
  font-family: "Jua", sans-serif;
}
