#chatroom-body,
.chatroom__status-bar,
.alt-header__chatroom {
  background-color: var(--purple);
}

.chatroom-screen {
  position: absolute;
  top: 110px;
  display: flex;
  justify-content: center;
}

#alt-header__icons-menu {
  margin-left: 20px;
}

.alt-header__chatroom .alt-header__column {
  width: 33%;
}

.alt-header__chatroom .alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__chatroom .alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}

.chatroom__timestamp {
  color: white;
  font-size: 14px;
  background-color: rgb(122, 65, 160, 0.4);
  padding: 8px 15px;
  border-radius: 20px;
}
