#chatroom-body {
  background-color: var(--purple);
}

.chatroom-screen {
  position: absolute;
  top: 100px;
}

#alt-header__icons-menu {
  margin-left: 20px;
}

.alt-header__chatroom .alt-header__column {
  width: 33%;
}

.alt-header__chatroom .alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__chatroom .alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
}
