.find-screen {
  top: 130px;
}

.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
  color: var(--subtitle-color);
}

.recommended-friends span {
  display: block;
  margin: 40px 0;
  text-align: center;
  font-size: 18px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--subtitle-color);
  margin-top: 25px;
  margin-bottom: 20px;
}

.open-chat__header span {
  opacity: 0.7;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.open-post__hashtags {
  margin: 7px 0px;
  color: var(--subtitle-color);
  font-size: 15px;
}

.open-post__members {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  font-size: 14px;
}

.open-post__members img {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members .divider {
  width: 1px;
  height: 13px;
  background-color: var(--subtitle-color);
  margin: 0 5px;
}

.open-post__members-status {
  color: #cf9bf1;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 7px;
  right: 3px;
}

.open-post__heart-count span {
  margin-left: 5px;
}
