.settings-screen {
  position: absolute;
  top: 100px;
}

.settings__setting {
  padding: 20px 0px;
  border-bottom: var(--main-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:last-child {
  border-bottom: none;
  margin-bottom: 100px;
}

.settings__setting:last-child:focus {
  animation: hideSplashScreen 0.5s ease-in-out forwards;
}

.settings__setting-column:nth-child(2) {
  color: var(--subtitle-color);
}

.settings__setting i {
  width: 36px;
  font-size: 18px;
  opacity: 0.8;
}
