.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--purple);
  padding: 20px 8%;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #7a41a0;
}

.nav__notification {
  position: absolute;
  left: 23px;
  bottom: 13px;
}
