.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--purple);
  padding: 20px 8%;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #7a41a0;
}

.nav__notification {
  position: absolute;
  left: 23px;
  bottom: 13px;
}

.nav__new {
  background-color: rgb(149, 148, 148);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 33px;
  bottom: 23px;
}
