.screen-header {
  position: fixed;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  box-sizing: border-box;
  z-index: 1;
  background-color: white;
}

.screen-header__title {
  font-size: 30px;
}

.screen-header__icons {
  display: flex;
  align-items: center;
}

.screen-header__icons > span {
  margin-left: 25px;
}

.screen-header__icons--dots {
  position: relative;
}
